*, html, body{
    margin:0;
    box-sizing: border-box;
    color: #eee;
    background: rgb(20, 19, 19);
    font-family: "Open Sans", sans-serif;
}

.container{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

#header{
    font-size: 20px;
    padding: 60px;
}

.first-row,
.second-row,
.third-row,
.fourth-row,
.fifth-row {
  margin-bottom: 3px;
}

input[type="text"] {
  background-color: rgb(47, 51, 50);

  width: 218px;
}

input[type="button"]:hover {
  background-color: rgb(160, 160, 160);
  color: #fff;
}

input {
    padding: 20px;
    color: rgb(255, 255, 255);
    font-size: 1em;
    cursor: pointer;
    width: 70px;
    background-color: rgb(47, 51, 50);
    border: none;
    outline: none;
    border-radius: 4px;
}
.result {
    width: 59.1%;
}

#clear {
    color: #fff;
    background-color: rgb(255, 42, 42);
}
